{% extends 'base.html' %}
{% load static %}
{% block title %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Apply</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <style>
          .arrage{ margin-top: 250px; } .bd-placeholder-img {    font-size: 1.125rem;    text-anchor: middle;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;  }  @media (min-width: 768px) {    .bd-placeholder-img-lg {      font-size: 3.5rem;    }  }
    </style><!-- Custom styles for this template -->
</head>
{% endblock %}
{% block content %}
<body class='text-center'>
    <div class='admiss_form'>
        <form method="POST">
            {% csrf_token %}
            {{ form.username }}<br/>
            {{ form.password }}<br/>
            <button type="submit" class="btn btn-primary">Login</button><br/>
            <a href="{% url 'form_page' %}">Apply now</a>
        </form>
    </div>
</body>
{% endblock %}