

{% extends 'base.html' %}
{% load static %}
{% block title %}
<head>
    <meta charset='utf-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no'>
    <title>Apply</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <script>
      function payWithPaystack(){
        var email = document.getElementsByClassName("admiss_form_field")[0].value;
        var amount = document.getElementsByClassName("admiss_form_field")[1].value;
        var number = document.getElementsByClassName("admiss_form_field")[2].value;
        console.log(email);
        var handler = PaystackPop.setup({
          key: 'pk_live_161ae51f50ac42972d3d6aa2ec5fb48d3191e5eb',
          email: email,
          amount: amount,
          currency: "GHS",
          ref: ''+Math.floor((Math.random() * 1000000000) + 1), // generates a pseudo-unique reference. Please replace with a reference you generated. Or remove the line entirely so our API will generate one for you
          metadata: {
             custom_fields: [
                {
                    display_name: "Mobile Number",
                    variable_name: "mobile_number",
                    value: +23351400170
                }
             ]
          },
          callback: function(response){
              alert('success. transaction ref is ' + response.reference);
          },
          onClose: function(){
              alert('window closed');
          }
        });
        handler.openIframe();
      }
    </script>
    <style>
          .arrage{ margin-top: 250px; } .bd-placeholder-img {    font-size: 1.125rem;    text-anchor: middle;    -webkit-user-select: none;    -moz-user-select: none;    -ms-user-select: none;    user-select: none;  }  @media (min-width: 768px) {    .bd-placeholder-img-lg {      font-size: 3.5rem;    }  }
    </style><!-- Custom styles for this template -->
</head>
{% endblock %}
{% block content %}
<body class='text-center'>
    <div class='admiss_form'>
        <form >
            {% csrf_token %}
            <input type="email" class="admiss_form_field" value="{{email}}" hidden>
            <label>Amount</label>
            <input type="text" class="admiss_form_field" placeholder="Amount">
            <input type="text" class="admiss_form_field" value="{{number}}" hidden>
            <button type="button" onclick="payWithPaystack()"> Pay </button>
        </form>
    </div>
</body>
<script src="https://js.paystack.co/v1/inline.js"></script>
{% endblock %}

